<h2>Offers</h2>

@if (offers().length === 0){
    <p>There are currently no offers...</p>
}
@else{
    <ul>
        @for (offer of offers(); track offer._id){
            <li>
                <strong> {{ offer.storeName }}</strong>
                
                <br/>
                {{ offer.discountType }}
                <br/>

                <br/>
                @if(offer.discountValue){
                    ({{ offer.discountValue }}%)
                }
                @else if (offer.customOffer){
                    ({{ offer.customOffer }})
                }
                <br/>

                <br/>
                {{ offer.redemptionMode }}
                <br/>

                <br/>
                Status: <span [class] = "offer.offerStatus ? 'status-active' : 'status-inactive'">{{ offer.offerStatus ? 'Active' : 'Inactive' }}</span>
                <br/>

                <br/>
                Tiers: {{ offer.userTier.join(', ') }}
                <br/>
                
                <br/>
                Valid Days: {{ offer.daysValid.join(', ') }}
                <br/>

                <br/>
                @if(offer.offerLimit){
                    @if(offer.offerLimit?.limitType === "limited"){
                        - The {{ offer.offerLimit?.limitType }} offer
                        will expire after {{ offer.offerLimit?.count }} use/s
                    }
                    @else if(offer.offerLimit?.limitType === "recurring"){
                        - The {{ offer.offerLimit?.limitType }} limited offer can only be used
                        {{ offer.offerLimit?.count }} time/s 
                        {{ offer.offerLimit?.period }}
                    }
                }
                <br/>

                <br/>
                @if(offer.minimumSpent){
                    - Minimum Spending Amount: {{ offer.minimumSpent }}
                }
                <br/>

                <br/>
                @if(offer.maxPeople){
                    - Max People: {{ offer.maxPeople }}
                }
                <br/>

                <br/>
                @if(offer.loyaltyLadder && offer.loyaltyLadder.length > 0){
                    Loyalty Ladder: {{ offer.loyaltyLadder.join(', ') }}
                }
                <br/>

                <br/>
                @if(offer.offerExpiry){
                    - Expires {{ offer.offerExpiry | date:'mediumDate' }}
                }
                <br/>

                <button (click)="toggleStatus(offer._id)">
                    {{ offer.offerStatus ? 'Deactivate' : 'Activate' }}
                </button>
            </li>
        }
    </ul>
}